<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- ClassName表示：dll文件名+类名-->
    <add key="ClassName" value ="LogToText.Class1"/>
    <!-- DllPath表示：dll文件名-->
    <add key ="DllPath" value ="LogToText.dll"/>
    <!-- MetodName表示方法-->
    <add key ="MethodName" value ="WriteLog"/>
  </appSettings>
</configuration>